/* Search bar related */
.search-bar {
  margin: 1em;
}

.search-div {
  color: var(--light-purple);
  font-size: 1em;
  position: relative;
}

.search-box {
  letter-spacing: 1px;
  padding: 1em;
  height: 40px;
}

.search-icon {
  position: absolute;
  top: 40%;
  left: -4px;
  color: var(--light-purple);
}

.search-div:hover {
  cursor: pointer;
}

.close-icon {
  position: absolute;
  right: 0;
  top: 40%;
  color: var(--darker-grey);
}

.close-icon:hover {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

input[name="search-box"] {
  width: 100%;
  border: 0;
  outline: 0;
}

input[name="search-box"]:hover {
  cursor: pointer;
}

input[name="search-box"]:focus {
  border-bottom: solid 2px var(--light-purple);
}
