@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-small: 10px;
  --font-regular: 16px;
  --font-family: "Roboto", sans-serif;

  --font-weight-regular: 300;

  --darker-grey: #4d4c4c;
  --dark-grey: #ddd;
  --light-grey: #eee;
  --lighter-grey: #fff;

  --light-purple: #ab14ab;

  --light-red: #f02323;
  --lighter-red: #e31a1a;

  --light-shadow: rgba(0, 0, 0, 0.4);
  --lighter-shadow: rgba(0, 0, 0, 0.2);
}

body {
  font-size: var(--font-regular);
  font-family: var(--font-family);
}

.container {
  display: grid;
  grid-template-rows: 300 1fr;
  grid-template-columns: 1fr;

  /* margin to make it look good */
  margin: 5% auto;
  width: 70vw;
  box-shadow: 6px 5px 10px -6px var(--light-shadow);
  border: solid 1px var(--light-grey);
}

.title {
  background-color: var(--light-purple);
  color: var(--lighter-grey);
  padding: 1em;
  grid-row: 1;
}

.italic {
  font-style: italic;
}

.caption {
  text-transform: uppercase;
  font-weight: var(--font-weight-regular);
}

/* Music Panel related */
.music-panel {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40px;
}

li {
  list-style: none;
  display: inline-block;
}

.links {
  padding: 1em;
  text-decoration: none;
  color: var(--light-purple);
}

.link-div {
  text-transform: uppercase;
  padding: 1em;
  text-align: center;
}

.link-div:hover,
.link-div:focus,
.link-div:active {
  border-bottom: solid 4px var(--light-purple);
}

.active-link {
  border-bottom: solid 4px var(--light-purple);
}

/* Song Panel related */
.show-songs {
  padding: 1em;
  height: 70vh;
}

.song-list {
  height: 80%;
  overflow-y: auto;
}

/* Search bar related */
.search-bar {
  margin: 1em;
}

.search-div {
  color: var(--light-purple);
  font-size: 1em;
  position: relative;
}

.search-box {
  visibility: hidden;
  letter-spacing: 1px;
  padding: 1em;
  height: 40px;
}

.search-icon {
  position: absolute;
  top: 40%;
  left: -4px;
  color: var(--light-purple);
}

.search-div:hover {
  cursor: pointer;
}

.search-div:hover .search-box {
  visibility: visible;
}

.search-div:hover .close-icon {
  visibility: visible;
}

.close-icon {
  position: absolute;
  right: 0;
  top: 40%;
  visibility: hidden;
  color: var(--darker-grey);
}

.close-icon:hover {
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  border: 0;
  outline: 0;
}

input[type="text"]:hover {
  cursor: pointer;
}

input[type="text"]:focus {
  border-bottom: solid 2px var(--light-purple);
}

/* song info related */
.song-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: solid 1px var(--light-grey);
  margin-bottom: 1em;
  padding: 1em;
  grid-gap: 1em;
}

.song-info:hover {
  opacity: 1;
  box-shadow: 1px 1px 6px var(--light-shadow);
}

.song-name {
  font-size: 1em;
  padding: 1px;
}

.song-artist {
  font-size: 0.7em;
}

.song-rating {
  font-size: 0.7em;
}

.movie-info {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

/* Popover related */
.popover {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.popover-icon {
  color: var(--light-purple);
  cursor: pointer;
}

.popover-content {
  display: none;
  background-color: var(--lighter-grey);
  padding: 1em;

  position: absolute;
  z-index: 1;
  top: -29px;
  left: 23px;

  border-radius: 2px;
  font-size: 1.3rem;

  width: 200px;
  opacity: 0.8;
  border: 1px solid var(--dark-grey);
}

.popover-content::before {
  content: "";
  border-bottom: solid 10px transparent;
  border-top: solid 10px transparent;
  border-right: solid 10px var(--lighter-grey);

  position: absolute;
  left: -8px;
  top: 36%;
}

.popover:hover .popover-content {
  display: block;
}

/* audio related */
audio {
  width: 200px;
}

@media screen and (max-width: 500px) {
  body {
    font-size: var(--font-small);
  }
  .container {
    width: 100vw;
  }

  .popover-content::before {
    left: -8px;
    top: 25%;
  }

  .popover-content {
    top: -13px;
    left: 21px;

    border-radius: 2px;
    font-size: 1.3rem;

    width: 150px;
    opacity: 0.8;
    border: 1px solid var(--light-grey);
  }

  audio {
    width: 150px;
  }

  .movie-info {
    width: 20px;
  }
}

@media screen and (max-width: 320px) {
  .movie-info {
    width: 10px;
  }

  audio {
    width: 90px;
  }
}

.popover-info {
  display: block;
  font-size: 0.5em;
}

/* Stars related */
.star {
  padding: 0.2em;
  cursor: pointer;
}

.checked {
  color: var(--light-purple);
}

.unchecked {
  color: var(--light-grey);
}

/* scrollbar related */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--light-grey);
}
